@page "/"

<h1>Witaj na YourBestPWr!</h1>

Jeżeli rozpoczynasz semestr na PWr i czekają Cię stresujące zapisy, jesteśmy tu, żeby Ci pomóc.<br />
Znajdziesz tu opinie o wykładowcach i kursach, a także możesz dodać swoje własne.




